#net "pre_rst" loc=p4;
net "clk" loc=L15;
net "select[0]" loc=A10;
net "select[1]" loc=D14;
#net "led" loc=U18; //M14

net "led[0]" loc=M14; //u18
net "led[1]" loc=N14; //u18
net "led[2]" loc=L14; //u18
net "led[3]" loc=M13; //u18
net "led[4]" loc=D4; //u18


#net "ledfetch" loc=M14; //u18
#net "leddecode" loc=N14; //u18
#net "ledexecute" loc=L14; //u18
#net "ledmemory" loc=M13; //u18
#net "ledwriteback" loc=D4; //u18


 