`timescale 1ns / 1ps
//////////////////////////////////////////////////////////////////////////////////
// Company: 
// Engineer: 
// 
// Create Date:    16:34:06 01/03/2025 
// Design Name: 
// Module Name:    Clock_Manipulation 
// Project Name: 
// Target Devices: 
// Tool versions: 
// Description: 
//
// Dependencies: 
//
// Revision: 
// Revision 0.01 - File Created
// Additional Comments: 
//
//////////////////////////////////////////////////////////////////////////////////
module Clock_Manipulation(original_clk, clk);

	input original_clk;
	output clk;
	
	reg clk;
	reg [22:0] counter;
	reg [3:0] next_led;
	
	initial begin
		next_led = 4'b0000;
		led = 4'b0000;
		clk = 1'b0;
		counter = 0;
	end
	
	always @(posedge original_clk)
	begin 
		counter = counter +1;
		if (counter == 0)
			clk = ~clk;
		end
		
	always@(posedge clk)
	begin
		next_led <= led + 1;
		if(next_led > 4'b1111)
		begin
			next_led = 4'b0000;
		end
		
		always @(next_led)
		begin
			led = next_led;
		end
endmodule
