//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 05 03:06:40 2025
//! **************************************************************************

SCHEMATIC START;
COMP "original_clk" LOCATE = SITE "L15" LEVEL 1;
COMP "led" LOCATE = SITE "U18" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "M14" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "L14" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "M13" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "D4" LEVEL 1;
COMP "pre_rst" LOCATE = SITE "P4" LEVEL 1;
COMP "led_R6" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

